/* Font scale: 1.2 */

:root {
	--link-color: -apple-system-control-accent;
	--link-color: -apple-system-alternate-selected-text;
	--link-color: -apple-system-selected-text-background;
	--link-color: -apple-system-selected-content-background;
	--text-color: #222;
	--text-color-rgb: 51, 51, 51;
	--header-table-border-color: rgba(0, 0, 0, 0.1);
	--header-color: rgba(0, 0, 0, 0.3);
	--body-code-color: #666;
	--system-message-color: #cbcbcb;
	--feedlink-color: rgba(255, 0, 0, 0.6);
	--article-date-color: rgba(0, 0, 0, 0.3);
	--table-cell-border-color: lightgray;
}

@media(prefers-color-scheme: dark) {
	:root {
		--header-color: rgba(94, 158, 244, 1);
		--body-code-color: #b2b2b2;
		--system-message-color: #5f5f5f;
		--feedlink-color: rgba(94, 158, 244, 1);
		--article-date-color: rgba(255, 255, 255, 0.5);
		--table-cell-border-color: dimgray;
	}
}

html {
	font-size: 100%;
}

body {
	color: var(--text-color);
	margin-left: auto;
	margin-right: auto;
	font-family: ui-serif, serif;
	word-wrap: break-word;
	text-align: justify;
	text-justify: inter-word;
	max-width: 44em;
	hyphens: auto;
	-webkit-hyphens: auto;
}

a {
	text-decoration: underline;
	color: var(--link-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;
  text-align: left;
  hyphens: none;
  -webkit-hyphens: none;
}

h1 {
	font-weight: 600;
	padding-bottom: 0;
	margin-bottom: 5px;
}

code,
pre {
	color: var(--body-code-color);
	font-family: "SF Mono", Menlo, "Courier New", Courier, monospace;
	font-size: 0.95rem;
	-webkit-hyphens: none;
}

pre {
	max-width: 100%;
	margin-left: auto;
	padding: 1em;
	overflow: auto;
	overflow-y: hidden;
	word-wrap: normal;
	word-break: normal;
	line-height: 1.4286em;
}

pre code {
	letter-spacing: -.027em;
	font-size: 0.9375rem;
}

img,
figure,
video,
div,
object {
	max-width: 100%;
	height: auto !important;
	margin: 0 auto;
}

iframe {
	max-width: 100%;
	margin: 0 auto;
}

iframe.nnw-constrained {
	max-height: 50vw;
}

figure {
	margin-bottom: 1em;
	margin-top: 1em;
}

figcaption {
	font-size: 0.833em;
	line-height: 1.3em;
}

sup {
	vertical-align: top;
	position: relative;
	bottom: 0.2rem;
}

sub {
	vertical-align: bottom;
	position: relative;
	top: 0.2rem;
}

hr {
	border: none; 
	background-color: var(--table-cell-border-color); 
	height: 1px;
	margin-top: 1em;
}

.meta {
	color: rgba(var(--text-color-rgb), 0.7);
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	display: block;
}

.meta a {
	color: inherit;
	text-decoration: none;
}

.meta a:hover,
.meta a:focus {
	color: var(--link-color);
	text-decoration: underline;
}

.dateTime {
	font-size: 1rem;
}

.byline {
	display: flex;
	flex-direction: column;
	font-family: -apple-system, sans-serif;
	font-size: 0.833rem;
}

.author {
	padding-top: 2px;
}

.systemMessage {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translateX(-55%) translateY(-50%);
	-webkit-user-select: none;
	cursor: default;
}

.systemMessage {
	color: var(--system-message-color);
}

.avatar img {
	border-radius: 4px;
}

.feedIcon {
	border-radius: 4px;
}

.rightAlign {
	text-align: end;
}

.leftAlign {
	text-align: start;
}

.articleTitle a:link,
.articleTitle a:visited,
.articleTitle {
	transition: 0.1s;
	margin-top: 26px;
	text-align: left;
	font-family: ui-serif, serif;
	font-size: 1.953125rem;
	text-decoration: none;
	color: inherit;
}

.articleTitle a:hover,
.articleTitle a:focus {
	text-decoration: underline;
	color: var(--link-color);
}

.externalLink {
	margin-bottom: 5px;
	font-style: italic;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
}

.articleBody {
	margin-top: 20px;
	line-height: 1.6em;
}

.nnw-overflow {
	overflow-x: auto;
}

/*
 Instead of the last-child bits, border-collapse: collapse
 could have been used. However, then the inter-cell borders
 overlap the table border, which looks bad.
 */
.nnw-overflow table {
	margin-bottom: 1px;
	border-spacing: 0;
	border: 1px solid black;
	font-size: inherit;
}
.nnw-overflow table table {
	margin-bottom: 0;
	border: none;
}
.nnw-overflow td,
.nnw-overflow th {
	-webkit-hyphens: none;
	word-break: normal;
	border: 1px solid var(--table-cell-border-color);
	border-top: none;
	border-left: none;
	padding: 5px;
}

.nnw-overflow tr :matches(td, th):last-child {
	border-right: none;
}

.nnw-overflow :matches(thead, tbody, tfoot):last-child > tr:last-child :matches(td, th) {
	border-bottom: none;
}
.nnw-overflow td pre {
	border: none;
	padding: 0;
}
.nnw-overflow table[border="0"] {
	border-width: 0;
}

.iframeWrap {
	position: relative;
	display: block;
	padding-top: 56.25%;
}

.iframeWrap iframe {
	position: absolute;
	top: 0;
	left: 0;
	height: 100% !important;
	width: 100% !important;
}

@media (prefers-color-scheme: light) {
	pre {
		  background: color(srgb 0.947 0.947 0.947);
	}
	
	p code {
		  background: color(srgb 0.947 0.947 0.947);
		  padding: 0.2em;
		  font-size: 0.9em;
	}
}

@media (prefers-color-scheme: dark) {
	pre {
		background: rgba(49, 49, 49, 1);
	}

	p code {
		background: rgba(49, 49, 49, 1);
		padding: 0.2em;
		font-size: 0.9em;
	}
}

blockquote {
	border-left: 1.5px solid rgba(var(--text-color-rgb), 0.7);
	margin: 1.5em 0;
	padding: 0 1em;
	color: rgba(var(--text-color-rgb), 0.7);
}

blockquote blockquote {
  font-style: italic;
}


blockquote > *:first-child {
	margin-block-start: 0px;
}

blockquote > *:last-child {
	margin-block-end: 0px;
}


/* Feed Specific */

.feedbin--article-wrap {
	border-top: 1px solid var(--header-table-border-color);
}

/* Hide the external link at the bottom of Daring Fireball posts */

.x-netnewswire-hide {
	display: none;
}

/* see removeWpSmiley; this rule is kept in case a wp-smiley is encountered without alt text */

.wp-smiley {
   height: 1em;
   max-height: 1em;
}

/* Twitter */

.twitterAvatar {
	vertical-align: middle;
	border-radius: 4px;
	height: 1.7em;
	width: 1.7em;
}

.twitterUsername {
	line-height: 1.2;
	margin-left: 4px;
	display: inline-block;
	vertical-align: middle;
}

.twitterScreenName {
	font-size: 66%;
}

.twitterTimestamp {
	font-size: 66%;
}

/*Block ads and junk*/

iframe[src*="feedads"],
iframe[src*="doubleclick"],
iframe[src*="plusone.google"] {
	display: none !important;
}

a[href*=".ads."],
a[href*="feedads"],
a[href*="doubleclick"],
a[href*="//ads."],
a[href*="api.tweetmeme"],
a[href*="delicious.com/post?"],
a[href*="digg.com/submit?"],
a[href*="google.com/bookmarks/mark?"],
a[href*="posterous.com/share?"],
a[href*="tumblr.com/share?"],
a[href*="linkedin.com/shareArticle?"],
a[href*="facebook.com/share.php?"],
a[href*="http://twitter.com/home?"],
a[href*="addtoany.com/share_save"] {
	display: none !important;
}

img[src*=".ads."],
img[src*="//ads."],
img[src*="doubleclick"],
img[src*="feedads"],
img[src*="feedburner"],
img[src*="feedblitz"],
img[src*="share-buttons"] {
	display: none !important;
}

/* Newsfoot specific styles. Structural styles come first, theme styles second */
.newsfoot-footnote-container {
	position: relative;
	display: inline-block;
	z-index: 9999;
}

.newsfoot-footnote-popover {
	position: absolute;
	display: block;
	padding: 0em 1em;
	margin: 1em;
	top: 0.75em;
	max-width: none;
	border-radius: 0.3em;
	box-sizing: border-box;
}

.newsfoot-footnote-popover {
	left: calc(-1 * (50vw - 1em));
	right: calc(-1 * (50vw - 1em));
}
.newsfoot-footnote-popover-arrow {
	content: '';
	display: block;
	width: 1em;
	position: absolute;
	top: -0.5em;
	left: calc(50% - 0.5em);
	height: 1em !important;
	transform: rotate(45deg);
	z-index:0;
}
.newsfoot-footnote-popover-inner {
	border-radius: calc(0.3em - 1px);
	padding: 1em;
	position: relative;
	z-index: 1;
}

.newsfoot-footnote-popover-inner :first-child {
	margin-top: 0;
}
.newsfoot-footnote-popover-inner :last-child {
	margin-bottom: 0;
}

.newsfoot-footnote-popover .reversefootnote,
.newsfoot-footnote-popover .footnoteBackLink,
.newsfoot-footnote-popover .footnote-return,
.newsfoot-footnote-popover a[href*='#fn'] {
	display: none;
}

sup[id^='fn'] {
	vertical-align: baseline;
}

a.footnote {
	display: inline-block;
	text-decoration: none;
	padding: 0.05em 0.75em;
	border-radius: 1em;
	min-width: 1em;
	text-align: center;
	font-size: 0.833rem;
	line-height: 1.25;
	position:relative;
	top: -0.1em;
}

/* light / default */
.newsfoot-footnote-popover {
	background: #ccc;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 3px 6px rgba(0, 0, 0, 0.25);
	color: black;
	padding: 1px;
}

.newsfoot-footnote-popover-arrow {
	background: #fafafa;
	border: 1px solid #ccc;
}

.newsfoot-footnote-popover-inner {
	background: #fafafa;
}

body a.footnote,
body a.footnote:visited,
.newsfoot-footnote-popover + a.footnote:hover {
	background: #aaa;
	color: white;
	transition: background-color 200ms ease-out;
}
a.footnote:hover,
.newsfoot-footnote-popover + a.footnote {
	background: #666;
	transition: background-color 200ms ease-out;
}

/* dark */
@media screen and (prefers-color-scheme: dark) {
	.newsfoot-footnote-popover {
		background: #444;
		color: rgb(224, 224, 224);
	}
	.newsfoot-footnote-popover-arrow {
		background: #242424;
		border: 1px solid #444;
	}
	.newsfoot-footnote-popover-inner {
		background: #242424;
	}
	body a.footnote,
	body a.footnote:visited,
	.newsfoot-footnote-popover + a.footnote:hover {
		background: #aaa;
		color: white;
		transition: background-color 200ms ease-out;
	}
	a.footnote:hover,
	.newsfoot-footnote-popover + a.footnote {
		background: #666;
		transition: background-color 200ms ease-out;
	}
}

/* iOS Specific */
@supports (-webkit-touch-callout: none) {
	:root {
		color-scheme: light dark;
		font-family: ui-serif, -apple-system-body;
		font-size: [[font-size]]px;
		--primary-accent-color: #000;
		--block-quote-border-color: rgba(8, 106, 238, 0.75);
	}

	@media(prefers-color-scheme: dark) {
		:root {
			--primary-accent-color: #ffffff;
			--block-quote-border-color: rgba(94, 158, 244, 0.75);
			--header-table-border-color: rgba(255, 255, 255, 0.2);
		}
	}

	
	body {
		margin-top: 3px;
		margin-bottom: 20px;
		padding-left: 20px;
		padding-right: 20px;

		word-break: break-word;
		-webkit-text-size-adjust: none;
	}

	.nnw-overflow table {
		border: none;
	}

	.activityIndicatorWrap {
		position: relative;
	}

	.activityIndicator {
		z-index: 1;
		width: 64px;
		height: 64px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

}

/* macOS Specific */
@supports not (-webkit-touch-callout: none) {
	:root {
		color-scheme: light dark;
		--block-quote-border-color: #000;
	}

	@media(prefers-color-scheme: dark) {
		:root {
			--block-quote-border-color: #EEEEEE;
			--header-table-border-color: #EEEEEE;
		}
	}

	
	body {
		margin-top: 20px;
		margin-bottom: 64px;
		padding-left: 48px;
		padding-right: 48px;
		font-family: ui-serif, serif;
	}

	.smallText {
		font-size: 14px;
	}

	.mediumText {
		font-size: 16px;
	}

	.largeText {
		font-size: 18px;
	}

	.xlargeText {
		font-size: 20px;
	}

	.xxlargeText {
		font-size: 22px;
	}
}
